<div class="col-md-3 blog-sidebar additional-offset">
    <div class="sidebar-module sidebar-module-inset">
        <div class="sidebar-module">
            <h4>Popular tags</h4>
                <a href="/tag/Python/" class="second-tag">Python</a>
                <a href="/tag/PERL/" class="first-tag">PERL</a>
                <a href="/tag/CSS/" class="third-tag">CSS</a>
                <a href="/tag/html/" class="other-tag">html</a>
                <a href="/tag/C++/" class="other-tag">C++</a>
                <a href="/tag/MySQL/" class="first-tag">MySQL</a>
                <a href="/tag/Tarantool/" class="third-tag">Tarantool</a>
                <a href="/tag/Bootstrap/" class="other-tag">Bootstrap</a>
                <a href="/tag/JavaScript/" class="other-tag">JavaScript</a>
        </div>

        <div class="sidebar-module" style="margin-top: 20px">
            <h4>Best members</h4>
            <ol class="list-unstyled">
                <li><a href="#" class="member">GT</a></li>
                <li><a href="#" class="member">PISTON</a></li>
                <li><a href="#" class="member">Xanax</a></li>
                <li><a href="#" class="member">Poponkin</a></li>
                <li><a href="#" class="member">DM</a></li>
                <li><a href="#" class="member">RP</a></li>
            </ol>
        </div>
    </div>
</div>