<div class="dropdown-user-registered">
    <a href="#">
        <img class="avatar" src="/static/img/papich.jpg" alt="avatar">
    </a>

    <div class="full_name">
        <a href="#" class="username">
            EvilArthas
        </a>
    </div>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link account-actions" href="{% url 'settings' %}">settings</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link account-actions log-out" href="#">log out</a>
        </li>
    </ul>
</div>
