{% extends "base.html" %}

{% block content %}
<div class="col-md-9">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                 <div class="col-lg-4">
                    <h2>New Questions</h2>
                </div>
                <div class="col-lg-3 hot-questions">
                    <a href="{% url 'hot' %}">Hot Questions</a>
                </div>
            </div>
        </div>
    </div><!--/row-->

    {% for question in questions %}
    <!-- One question -->
    <div class="one-question">
        <div class="row">
            <div class="col-md-2">
                <a href="#">
                    {% load static %}
                    <img class="avatar" src="{{ question.profile.avatar.url }}" alt="avatar">
                </a>
                <div>
                    {{ question.profile.user.username }}
                </div>
                <div class ="like">
                    <div class="like-counter">
                        {{ question.likeCount }}
                    </div>
                    <div class="top-down">
                        <a href="#"
                           class="js-vote"
                           data-qid="{{ question.pk }}"
                           data-vote="inc">
                            <div id="triangle-up"></div>
                        </a>
                        <a href="#"
                           class="js-vote"
                           data-qid="{{ question.pk }}"
                           data-vote="dec">
                           <div id="triangle-down"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <a class="question-a" href="{% url 'question' question.id %}">{{ question.id }}. {{ question.title }}</a>
                <div class="question-text">
                    {{ question.content }}
                </div>
                <div class="answers-and-tags">
                    <div class="answer-button">
                        Answers: {{ question.answer_set.all.count }}
                    </div>
                    <div class="publish-time">
                        {{ question.creation_date }}
                    </div>
                    <div class="tag">
                        Tags:
                        {% for tag in question.tag.all %}
                            <a href="{% url 'tag' tag.name %}">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
    <!-- /One question-->

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if questions.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ questions.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="?page={{ questions.previous_page_number }}">{{ questions.previous_page_number }}</a></li>
            {% endif %}
            <li class="page-item active"><a class="page-link" href="#">{{ questions.number }}</a></li>
            {% if questions.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ questions.next_page_number }}">{{ questions.next_page_number }}</a></li>
            <li class="page-item">
                <a class="page-link" href="?page={{ questions.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div><!--/span-->
{% endblock %}

{% block js %}
<script>
    (function() {
        $('.js-vote').on('click', function() {
            var $this = $(this);
            var qid = $this.data('qid');
            var vote = $this.data('vote');
            console.log('qid: ' + qid + ' vote: ' + vote );
            $.post('/vote/', {
                qid: qid,
                vote: vote,
            }).done(function() {
                console.log(data);
            });
            return false;
        })
    }) ();
</script>
{%  endblock %}