{% extends "base_unregistered.html" %}

{% block content %}

<div class="col-12 col-md-9">
        <h2>Log In</h2>
        <h8 style="color: red">Sorry, wrong password!</h8>
        <br><br>

        <form action="" method = GET class="login_form">
            <div class="form-group">
                <label for="login">Login:</label>
                <input type="text" class="form-control" id="login" placeholder="Enter your login here">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" placeholder="********">
            </div>
            <input type = submit value = "Log in" class = "btn btn-success ask-button-down">
        </form>
        <br>
        <a class="create-new-account" href="#">create new account</a>
</div><!--/span-->

{% endblock %}