{% extends "base.html" %}

{% block content %}

<div class="col-12 col-md-9">
    <!--Question-->
    <div class="question">
        <div class="row">
            <div class="col-md-2">
                <a href="#">
                    <img class="avatar" src="{{ question.profile.avatar.url }}" alt="avatar">
                </a>
                <div class="nickname">
                    {{ question.profile.user.username }}
                </div>
                <div class ="like">
                    <div class="like-counter">
                    {{ question.likeCount }}
                    </div>
                    <div class="top-down">
                        <a href="#"><div id="triangle-up"></div></a>
                        <a href="#"><div id="triangle-down"></div></a>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <h4>{{ question.title }}</h4>
                    <div class="question-text">
                        {{ question.content }}
                    </div>
                    <div class="tag">
                        Tags:
                        {% for tag in question.tag.all %}
                            <a href="#">{{ tag }}</a>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </div>
    <hr width="90%" align="left">
    <!--Answers-->
    {% for answer in question.answer_set.all %}
    <div class="answer">
        <div class="row">
            <div class="col-md-2">
                <a href="#">
                    <img class="avatar" src="{{ answer.profile.avatar.url }}" alt="avatar">
                </a>
                <div>
                    {{ answer.profile.user.username }}
                </div>
                <div class ="like">
                    <div class="like-counter">
                        {{ answer.likeCount }}
                    </div>
                    <div class="top-down">
                        <a href="#"><div id="triangle-up"></div></a>
                        <a href="#"><div id="triangle-down"></div></a>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="answer-text">
                    {{ answer.content }}
                </div>
                <label class="checkbox-inline"><input class="correct" type="checkbox" value="">  Сorrect!</label>
            </div>
        </div>
    </div>
    {% endfor %}

    <hr width="90%" align="left">
    <!-- /Answers -->

    <!-- Enter Answer -->
    <div class="form-group">
        <div class="noname">
            <textarea class="form-control" rows="5" name="text" placeholder="Enter you answer here:"></textarea>
        </div>
    </div>
    <a class="btn btn-primary btn-md" href="#">Answer<span class="sr-only">(current)</span></a>
</div>

{% endblock %}