{% extends "base_unregistered.html" %}

{% block content %}

<div class="col-12 col-md-9">
    <div class="row">
        <div class="col-lg-1">
            <h2>Tag:</h2>
        </div>
        <div class="col-lg-2 name-of-tag">
            <h2> {{ tag_name }}</h2>
        </div>
    </div><!--/row-->
    <div class="one-question">
        <div class="row">
            <div class="col-md-2">
                <a href="#">
                    <img class="avatar" src="/static/img/papich.jpg" alt="avatar">
                </a>
                <div class ="like">
                    <div class="like-counter">
                        5
                    </div>
                    <div class="top-down">
                        <a href="#"><div id="triangle-up"></div></a>
                        <a href="#"><div id="triangle-down"></div></a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <h4><a href="#">Why so serious?</a></h4>
                <div class="question-text">
                    What are you doing my swamp? I want to know exactly answer.
                </div>
                <div class="answers-and-tags">
                    <div class="answer-button">
                        <a href="#">answer(3)</a>
                    </div>
                    <div class="tag">
                        Tags:
                        <a href="#">YouTube</a>
                        <a href="#">VK</a>
                        <a href="#">FaceBook</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="one-question">
        <div class="row">
            <div class="col-md-2">
                <a href="#">
                    <img class="avatar" src="/static/img/papich.jpg" alt="avatar">
                </a>
                <div class ="like">
                    <div class="like-counter">
                        5
                    </div>
                    <div class="top-down">
                        <a href="#"><div id="triangle-up"></div></a>
                        <a href="#"><div id="triangle-down"></div></a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <h4><a href="#">Why so serious?</a></h4>
                <div class="question-text">
                    What are you doing my swamp? I want to know exactly answer.
                </div>
                <div class="answers-and-tags">
                    <div class="answer-button">
                        <a href="#">answers</a>
                    </div>
                    <div class="tag">
                        Tags:
                        <a href="#">YouTube</a>
                        <a href="#">VK</a>
                        <a href="#">FaceBook</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="one-question">
        <div class="row">
            <div class="col-md-2">
                <a href="#">
                    <img class="avatar" src="/static/img/papich.jpg" alt="avatar">
                </a>
                <div class ="like">
                    <div class="like-counter">
                        5
                    </div>
                    <div class="top-down">
                        <a href="#"><div id="triangle-up"></div></a>
                        <a href="#"><div id="triangle-down"></div></a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <h4><a href="#">Why so serious?</a></h4>
                <div class="question-text">
                    What are you doing my swamp? I want to know exactly answer.
                </div>
                <div class="answers-and-tags">
                    <div class="answer-button">
                        <a href="#">answer(3)</a>
                    </div>
                    <div class="tag">
                        Tags:
                        <a href="#">YouTube</a>
                        <a href="#">VK</a>
                        <a href="#">FaceBook</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if questions.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ questions.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="?page={{ questions.previous_page_number }}">{{ questions.previous_page_number }}</a></li>
            {% endif %}
            <li class="page-item active"><a class="page-link" href="#">{{ questions.number }}</a></li>
            {% if questions.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ questions.next_page_number }}">{{ questions.next_page_number }}</a></li>
            <li class="page-item">
                <a class="page-link" href="?page={{ questions.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div><!--/span-->

{% endblock %}